# Archivos compilados de Java
*.class
*.jar
*.war
*.ear

# Directorios de build de Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Directorios de IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
*~
